<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="../../../../../lib/internal/Magento/Framework/ObjectManager/etc/config.xsd">
    <virtualType name="OpenFreightGridFilterPool" type="Magento\Framework\View\Element\UiComponent\DataProvider\FilterPool">
        <arguments>
            <argument name="appliers" xsi:type="array">
                <item name="regular" xsi:type="object">Magento\Framework\View\Element\UiComponent\DataProvider\RegularFilter</item>
                <item name="fulltext" xsi:type="object">Magento\Framework\View\Element\UiComponent\DataProvider\FulltextFilter</item>
            </argument>
        </arguments>
    </virtualType>
    <virtualType name="OpenFreightGridDataProvider" type="Magento\Framework\View\Element\UiComponent\DataProvider\DataProvider">
        <arguments>
            <argument name="collection" xsi:type="object" shared="false">TIG\OpenFreight\Model\ResourceModel\Data\Collection</argument>
            <argument name="filterPool" xsi:type="object" shared="false">OpenFreightGridFilterPool</argument>
        </arguments>
    </virtualType>
    <type name="TIG\OpenFreight\Model\ResourceModel\Data\Grid\Collection">
        <arguments>
            <argument name="mainTable" xsi:type="string">tig_openfreight_data</argument>
            <argument name="eventPrefix" xsi:type="string">tig_openfreight_data_grid_collection</argument>
            <argument name="eventObject" xsi:type="string">data_grid_collection</argument>
            <argument name="resourceModel" xsi:type="string">TIG\OpenFreight\Model\ResourceModel\Data</argument>
        </arguments>
    </type>
    <type name="Magento\Framework\View\Element\UiComponent\DataProvider\CollectionFactory">
        <arguments>
            <argument name="collections" xsi:type="array">
                <item name="tig_openfreight_data_listing_data_source" xsi:type="string">TIG\OpenFreight\Model\ResourceModel\Data\Grid\Collection</item>
            </argument>
        </arguments>
    </type>
    <preference for="Magento\Checkout\Block\Cart\LayoutProcessor"
                type="TIG\OpenFreight\Model\Checkout\Block\Cart\Shipping" />
</config>